{% extends "theme.html" %}

{% block title %}Your Stats{% endblock %}

{% block content %}

<main class="center">
<h1 class="title">{{ self.title() }}</h1>

This table shows your IOTA transaction history.

<table style="width:100%">
{% if not user_transactions %}
	<tr><td>No transactions.</td></tr>
{% else %}
	<tr>
		<th>Value</th>
		<th>Target</th>
		<th>Timestamp</th>
	</tr>
{% for transaction in user_transactions %}
	<tr>
		<td>{{ transaction.value }}</td>
		<td><a href="https://thetangle.org/address/{{transaction.target}}">{{ transaction.target }}</a></td>
		<td>{{ from_datetime(transaction.timestamp) }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>

</main>

{% endblock %}
