{% extends "theme.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
<script src="app/static/clipboard.min.js"></script>

{% block content %}

<h1>{{ self.title() }}</h1>
Hi {{ current_user.id }}!
<main class="center">
<br/>
  {{ utils.flashed_messages() }}
<br/>

<table style="width:100%">
{% if not user_transactions %}
	<tr><td>No transactions.</td></tr>
{% else %}
	<tr>
		<th>Value</th>
		<th>Target</th>
		<th>Timestamp</th>
	</tr>
{% for transaction in user_transactions %}
	<tr>
		<td class="btn" data-clipboard-text={{ transaction.value }}>{{ transaction.value }}</td>
		<td class="btn" data-clipboard-text={{ transaction.target }}>{{ transaction.target }}</td>
		<td class="btn" data-clipboard-text={{ transaction.timestamp }}>{{ transaction.timestamp }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>
<script type="text/javascript">
	var btns = document.querySelectorAll('btn');
	var clipboard = new ClipboardJS(btns);

	clipboard.on('success', function(e) {
		console.log(e);
	});
	clipboard.on('error', function(e) {
		console.log(e);
	});

</script>

</main>

{% endblock %}


