{% extends "theme.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}

<h1>{{ self.title() }}</h1>
Hi {{ current_user.id }}!
<main class="center">
<br/>
  {{ utils.flashed_messages() }}
<br/>

<table style="width:100%">
{% if not user_transactions %}
	<tr><td>No transactions.</td></tr>
{% else %}
	<tr>
		<th>Value</th>
		<th>Target</th>
		<th>Timestamp</th>
	</tr>
{% for transaction in user_transactions %}
	<tr>
		<td>{{ transaction.value }}</td>
		<td><a href="https://thetangle.org/address/{{transaction.target}}">{{ transaction.target }}</a></td>
		<td>{{ transaction.timestamp }}{{ transaction.timestamp }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>

</main>

{% endblock %}


