<label for="custom">Custom payment interval</label><input type="checkbox" id="custom" onchange="toggleCustom();"><br><br>

<label for="single">Single payment:</label><input disabled type="checkbox" id="single" name="single"><br>
<label for="iota">IOTA</label><input disabled type="number" id="iota" value={{ iota }}><br>
<label for="time">Time interval</label><input disabled type="number" id="time" value={{ time }}><br>
<input type="submit" name="submit" value="Start paying">

<script type="text/javascript">
	function toggleCustom(){
		var dSingle = {{single}};
		var cSingle = dSingle;
		var dIota = {{iota}};
		var cIota = dIota;
		var dTime = {{time}};
		var cTime = dTime;

		custom = document.getElementById('custom');
		single = document.getElementById('single');
		iota = document.getElementById('iota');
		time = document.getElementById('time');

		if(!custom.checked){
			cSingle = single.value;
			single.value=dSingle;
			cIota = iota.value;
			iota.value=dIota;
			cTime = time.value;
			time.value=dTime;
		}else{
			single.value=cSingle;
			iota.value=cIota;
			time.value=cTime;
		}
		
		single.disabled = !custom.checked;
		iota.disabled = !custom.checked;
		time.disabled = !custom.checked;
	}
</script>
