{% extends "theme.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}IOTA Payments{% endblock %}

{% block content %}

<main class="center">
<div class="company_banner"><img src="static/banners/{{ company_name }}.png"></div>

<div class="jsform" id="jsform">
	
</div>
<img class="loadIcon" src="static/loadIcon.svg">

<script type="text/javascript">

	function request_payment(data) {
		var jsform = document.getElementById("jsform");
		jsform.classList.add("loading");
		var req = new XMLHttpRequest();
		
		req.onreadystatechange = function() {
			if (this.readyState==4 && this.status==200) {
				jsform.innerHTML = this.responseText;
				jsform.classList.remove("loading");
			}
		};

		req.open("POST","/AJAX_request");
		req.setRequestHeader("Content-type", "application/json");
		req.send(JSON.stringify(data));

		return true;
	}
	
	/*
	function request_payment(id) {
		var jsform = document.getElementById("jsform");
		jsform.classList.add("loading");
		var req = new XMLHttpRequest();
		req.onreadystatechange = function() {
			if (this.readyState==4 && this.status==200) {
				jsform.innerHTML = this.responseText;
				jsform.classList.remove("loading");
			}
		};
		req.open("POST","/AJAX_request")
		req.setRequestHeader("Content-type", "application/json")
		var postVars = 'id='+id
		req.send(postVars)

		return false
	}
	*/
	request_payment({'page':0});

	var cs = [1, 1, 1];
	var ds = [1, 1, 1];

	function toggleCustom(){


		var xs = [document.getElementById('single'), document.getElementById('iota'), document.getElementById('time')]

		if(!custom.checked){
			for (i=0; i<xs.length; i++){
				cs[i] = xs[i].value;
				xs[i].value = ds[i];
			}


		}else{

			for (i=0; i<xs.length; i++){
				xs[i].value=cs[i];
			}
		}
		
		
		for (i=0; i<xs.length; i++){
			xs[i].disabled = !custom.checked;
		}
	}


</script>

</main>

{% endblock %}
