{% extends "theme.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<main class="center">
<h1 class="title">{{ self.title() }}</h1>

<div>
{% for company in companies %}
<div class="subscription">
  <div class="play_btn">
  </div>
  <img src="{{ url_for('static', filename='banners/'+company) }}">
  <span>500 iota per minute</span>
</div>
{% endfor %}
</div>

</main>

<main class="center">
<h1 class="title">Popular</h1>
{% for company in companies %}
<img src="{{ url_for('static', filename='banners/'+company) }}">
{% endfor %}
</main>

{% endblock %}
