@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoLight';
	src: url('Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoMono';
	src: url('RobotoMono-Regular.ttf') format('truetype');
}

*{
	font-family: Roboto;
	font-size: 20px;
}

*.mono{
	font-family: 'RobotoMono';
}

@keyframes grad{
	0%{background-position:0% 50%}
    	50%{background-position:100% 50%}
    	100%{background-position:0% 50%}
}

body{
	background: linear-gradient(235deg, #2c94cc, #8352d4, #4e51d0);
	background-size: 200% 600%;
	color: #CCD4FF;
	text-align: center;
	animation-name: grad;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(89, 130, 192);
}

h1{
	text-align: center;
	font-size: 60px;
	margin: 20px;
	margin-bottom: 50px;
}

a{
	text-decoration: none;
	color: #00D5FF;
	transition: color 0.5s, background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s, border-radius 0.5s;
}

a:hover{
	color: #ABF1FF;
	text-shadow: 0px 0px 5px rgba(171, 241, 255, 0.5);
}

table{
	margin-top: 50px;
	border-collapse: collapse;
	/*background-color: rgba(176, 255, 227, 0.5);
	color: #222222;*/
	color: #ABDBFF;
	overflow: hidden;
}

table, img, *.gap{
	margin-top: 50px;
}

td, th{
	background-color: rgba(17,45,77, 0.5);
	padding: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

th{
	font-size: 1.4em;
	background-color: rgba(17,45,77, 0.6);
}

input, select, textarea{
	background-color: rgba(20, 54, 99, 0.4);
	border: none;
	color: #A4F5E5;
	padding: 15px;
	border-radius: 5px;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
	box-shadow: inset 0px 2px 6px rgba(0,0,0,0.2);
}

input:disabled, select:disabled, textarea:disabled, input:disabled:hover, select:disabled:hover, textarea:disabled:hover{
	color: #94ADE8;
	background-color: rgba(20, 54, 70, 0.1);
}

input:hover, select:hover, textarea:hover{
	color: #A4F5E5;
	background-color: rgba(25, 60, 99, 0.7);
}

select{
	-moz-appearance: none;
	border-radius: 20px;
	padding: 7px;
}

input:invalid, select:invalid{
	/*box-shadow: inset 0px 0px 10px 0px rgba(255,0,130, 0.7);*/
}

input[type="number"]{
	width: 164px;
}

input[type="submit"], input[type="button"]{
	background-color: rgba(190,180,255, 0.2);
	/*box-shadow: 0px 0px 10px 0px rgba(190,180,255, 0.7);*/
	/*color: rgba(83,42,218, 1);*/
	color: #FFFFFF;
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 20px 0px rgba(0,149,255, 0);
}

input[type="submit"]:hover, input[type="button"]:hover{
	color: #9DFFE9;
	background-color: rgba(0,149,255, 0.9);
	box-shadow: 0px 0px 20px 10px rgba(0,149,255, 0.4);
}

div.checkbox{
	margin-left: 170px;
}

div.checkbox label{
	width: inherit;
}

/*
input[type="submit"], input[type="button"]{
	padding: 25px;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover{
	box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.3);
	background-color: rgba(35, 80, 130, 0.5);
	color: #9DFFE9;
}
*/

input[type="text"]{
	margin-right: 0px;
}

input:focus{
	background-color: #112D4D;
	color: #ABDBFF;
}

label{
	display: inline-block;
	text-align: right;
	width: 25%;
	margin: 25px;
	margin-left: 40px;
	margin-bottom: 30px;
}

label.units{
	text-align: left;
	/*width: 267px;*/
	margin-left: 5px;
	font-size: 12px;
}

form{
	text-align: left;
}

main{
	max-width: 800px;
	min-width: 550px;
	/*background-color: rgba(255,255,255, 0.1);*/
	margin: 20px;
	margin-top: 138px;
	background-color: rgba(255, 255, 255, 0.15);
	color: rgb(50,50,50);
	padding: 50px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 20px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

main.no-title{
	margin-top: 60px;
}

*.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

hr{
	height: 50px;
	border: none;
}

header{
	/*background-color: rgba(17,45,77, 0.6);*/
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	text-align: right;
	height: 82px;
	/*box-shadow: 0px 5px 10px rgba(0,0,0,0.2);*/
}

header a{
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	margin: 10px;
	margin-left: 0px;
	padding: 20px;
	border-radius: 20px 20px 10px 10px;
}

header a:hover{
	background-color: rgba(0,149,255, 0.6);
	color: #9DFFE9;
	box-shadow: 0px 0px 20px 10px rgba(0,149,255, 0.4);
	border-radius: 10px;
}

header a.title{
	float: left;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
	margin-top: 15px;
	font-family: RobotoLight;
}

header a.title:hover{
	background-color: transparent;
	box-shadow: none;
}

header a.dropdown{
	display: inline-block;
	margin: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 20px;
	padding-bottom: 30px;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
	transition: 0.5s;

}

header ul.dropdown{
	list-style-type: none;
	position: absolute;
	right: 0px;
	top: 64px;

	background-color: rgba(140,150,220, 0.8);
	overflow: hidden;
	width: 200px;
	padding: 0px;
	max-height: 0%;
	transition: 0.5s;
	border-radius: 10px 0px 10px 10px;
	margin-right: 30px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
	z-index: 10;
}

header a.dropdown:hover + ul.dropdown, header ul.dropdown:hover, header ul.dropdown.toggled{
	max-height: 100%;
}

header a.dropdown:hover, header a.dropdown.toggled{
	background-color: rgba(140,150,220, 0.8);
	color: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}

header a.dropdown.toggled{
	background-color: rgba(190,180,255, 0.6);
}

header ul.dropdown li a{
	text-align: left;
	border-radius: 0px;
	box-shadow: none;
	color: inherit;
	width: 160px;
	margin: 0px;
}

header ul.dropdown li a:hover{
	background-color: rgba(190,180,255, 0.5);
}

div.jsform{
	transition: 0.5s;
	border-radius: 10px;
	padding: 40px;
}

div.loading{
	background-color: rgba(0, 200, 200, 0.2);
	box-shadow: 0px 0px 50px 0px rgba(255,201,200, 0.3);
	margin-top: 20px;
	min-height: 120px;
}

div.loading *{
	opacity: 0.1;
}

img.loadIcon{
	opacity: 0;
	width: 100px;
	position: relative;
	top: -150px;
	animation: spin 2s linear infinite;
	pointer-events: none;
}

div.loading + img.loadIcon{
	opacity: 1;
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

div.details{
	display: inline-block;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
	color: #333333;
	width: 250px;
	max-height: 20px;
	position: absolute;
	padding: 20px;
	margin: 0px;
	margin-left: -50px;
	border-radius: 4px;
	transition: opacity 0.5s, width 0.5s, max-height 0.5s ease-in 0.1s, margin-left 0.5s ease-out;
	opacity: 0;
	pointer-events: none;
}

input[type='button']:hover + div.details{
	width: 250px;
	max-height: 200px;
	opacity: 1;
	margin-left: 20px;
}

div.details + br{
	margin-bottom: 40px;
}

label.checkbox{
	background: rgba(0,0,0,0.1);
	border-radius: 20px;
	padding: 10px;
	padding-right: 60px;
	margin-right: 0px;
}

p.help-block{
	text-align: center;
	margin-top: -15px;
	background-color: rgba(255, 174, 83, 0.6);
	color: rgb(70,70,70);
	width: 200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0px 0px 10px 10px;
	padding: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

h1.title{
	background-color: rgba(50,50,50,0.2);
	color: #CCD4FF;
	position: relative;
	padding: 20px;
	border-radius: 20px 20px 0px 0px;
	font-family: "RobotoLight";
	font-weight: normal;
	font-size: 40px;
	margin-top: -88px;
	margin-bottom: 0px;
	bottom: 50px;
}

input[type='checkbox']{
	background: rgba(0,0,0,0.2);
	border-radius: 20px 0px 0px 20px;
	padding: 10px;
	margin-left: -40px;
}

input[type='button'].subtle{
	float: left;
	font-size: 18px;
	border-radius: 24px 5px 5px 24px;
	padding: 12px;
	padding-left: 24px;
	background-color: rgba(200,200,255, 0.1);
}

div.alert{
	background-color: rgba(255, 174, 83, 0.6);
	color: rgb(60,60,60);
	margin: auto;
	line-height: 2.4;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	display: inline-block;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 20px;
}

div.subscription{
	background-color: rgba(10, 6, 42, 0.7);
	margin: 50px;
	border-radius: 40px;
	width: 500px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(200,200,200);

	position: relative;
}

div.subscription img.banner{
	float: left;
	margin-left: 40px;
	width: 300px;
	z-index: 1;
	position: absolute;
	right: 0px;
	top: -50px;
	border-radius: 0px 35px 0px 0px;
}

div.subscription span{
	margin-top: 25px;
	font-size: 40px;
	position: absolute;
	bottom: 10px;
	right: 20px;
	z-index: 1;
	width: 260px;
}

div.btn{
	position: absolute;
	left: 0px;
	width: 140px;
	height: 190px;
	padding: 30px;
	background-color: rgb(29, 164, 121);
	border-radius: 35px 0px 0px 35px;
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.6);
	transition: box-shadow 0.5s, background-color 0.5s;
	cursor: pointer;
}

div.btn:hover{
	background-color: rgb(48, 255, 48);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
}

div.pause_btn{
	background-color: rgb(170, 34, 5);
}

div.pause_btn:hover{
	background-color: rgb(228, 49, 36);
}

div.subscription img.btn_icon{
	width: 50px;
}

/* Experimental borders
.emboss, main{
	border-style: solid;
	border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.1);
	border-width: 2px;
}
*/
