{% extends "theme.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<main class="center">
<h1>{{ self.title() }}</h1>
<form method="POST" action="signup">
	<label for="userID">User id:</label><input name="userID" type="text"> <br>
	<label for="password">Password:</label><input name="password" type="password"> <br>
	<label for="confirm">Confirm password:</label><input name="confirm" type="password"> <br>
	<label for="email">Email:</label><input name="email" type="email"> <br>
	<hr>
	<div class="center"><input name="submit" type="submit" value="Signup"></div>
</form>
</main>
{% endblock %}
