<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<video playsinline autoplay muted loop id="bgvid">
    <source src="static/bg.mp4" type="video/mp4">
</video>

<header>
<nav>
	{% if current_user.is_authenticated %}
		<h1>Pay IOTA</h1>
		<a href="{{ url_for('home.sendiota') }}">Home</a>
		<a href="{{ url_for('home.yourstats') }}">Your stats</a>
		<a href="{{ url_for('auth.signout') }}">Signup</a>
	{% else %}
		<h1>Pay IOTA</h1>
		<a href="{{ url_for('home.sendiota') }}">Home</a>
		<a href="{{ url_for('auth.login') }}">Login</a>
		<a href="{{ url_for('auth.signup') }}">Signup</a>
	{% endif %}
</nav>

{% block content %}
{% endblock %}
</header>

</body>
</html>
