<!DOCTYPE html>

{% import "bootstrap/wtf.html" as wtf %}

<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<video playsinline autoplay muted loop id="bgvid">
    <source src="static/bg.mp4" type="video/mp4">
</video>
{% if current_user.is_authenticated %}
<header>
<nav>
		<h1>Pay IOTA</h1>
		<a href="{{ url_for('home.sendiota') }}">Home</a>
		<a href="{{ url_for('member.yourStats') }}">Your stats</a>
		<a href="{{ url_for('auth.logout') }}">Logout</a>
</nav>
</header>
{% else %}
<header>
<nav>
		<h1>Pay IOTA</h1>
		<a href="{{ url_for('home.sendiota') }}">Home</a>
		<a href="{{ url_for('auth.login') }}">Login</a>
		<a href="{{ url_for('auth.signup') }}">Signup</a>
</nav>
</header>
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>
