<!DOCTYPE html>

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">
	<meta name="theme-color" content="#5982C0">
</head>

<body>
<header>
<nav>
<a class="title" href="{{ url_for('home.index') }}">IOTA Subs</a>
{% if current_user.is_authenticated %}

		<a href="{{ url_for('home.index') }}">Home</a>

		<a class="dropdown" onclick="toggle_menu();">Balance: {{ current_user.balance }}</a>
		<ul class="dropdown">
			<li><a href="{{ url_for('home.topupAccount') }}">Top up</a></li>
			<li><a href="{{ url_for('member.yourStats') }}">Your stats</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
		</ul>

{% else %}
		<a href="{{ url_for('home.index') }}">Home</a>
		<a href="{{ url_for('auth.login') }}">Login</a>
		<a href="{{ url_for('auth.signup') }}">Signup</a>
{% endif %}
</nav>
</header>
{{ utils.flashed_messages() }}

{% block content %}
{% endblock %}

<script type="text/javascript">
var menu_active = false;
var menu_items = document.getElementsByClassName("dropdown")

function toggle_menu(){
	menu_active = !menu_active;
	for(i=0; i<menu_items.length; i++){
		if(menu_active){
			menu_items[i].className = "dropdown toggled";
		}else{
			menu_items[i].className = "dropdown";
		}
	}
	console.log(menu_active);
}
</script>

</body>
</html>
